body {
    font-family: proxima-nova;
    font-style: normal;
    margin: 0;
}

/* ------ NAV BAR STYLES -----*/

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 1.4em 1.75em;
    overflow: hidden;
    background-color: #FFFFFF;
}

.navbar-logo {
    height: 3em;
}

.navbar-basket {
    height: 2.25em;
    margin: .3em 1.5em;
    vertical-align: middle;
}
  
.navitem-right {
    float: right;
}

.navitem-left {
    float: left;
}
  
.navitem-link {
    display: block;
    color: #9A9A9A;
    text-align: center;
    padding: 1.1em 1em 0.8em 1em;
    text-decoration: none;
}

.navitem-link:hover {
    color: #000000;
}


/* ------ FOOTER STYLES -----*/

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.75em;
}

#footer-container {
    text-align: left;
    font-size: small;
    color: #FFFFFF;
    padding-top: 1.8em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.75em;
    background-color: #FFA800;
}

.footer {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #FFA800;
}

.footer-link {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0em 1em 0em 1em;
}

.footer-right {
    float: right;
    padding-right: 3em;
}

.footer-left {
    float: left;
}



/* ------ HOME PAGE STYLES -----*/

.home-header {
    color: #FFA800;
}

.banner {
    width: 100%;
}

.row {
    padding: 1.5em 15% 18em 15%;
}

.column {
    float: left;
}

.left-col {
    width: 54%;
    padding-right: 3.5em;
}

.middle-col {
    width: 21%;
}

.right-col {
    width: 20%;
}

#order-button:link, #order-button:visited {
    font-size: small;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    text-decoration: none;
    background-color: #FFA800;
    border-radius: 2em;
    padding: 1em 3em;
    margin: 1em 0;
    text-align: center;
    display: inline-block;
    opacity: 1;
    transition: 0.2s;

}

#order-button:hover, #order-button:active {
    background-color: #FDF1DA;
    color: #FFA800;
    transition: 0.3s;
}


/* ------ BROWSE PAGE STYLES -----*/

.grid-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 30em 30em 30em;
    grid-template-rows: 25em 25em;
}

.item1 {
    text-align: center;
    background-color: lightpink;
    margin: 1em;
}

.item1 h3 {
    text-align: left;
}


.item2 {
    background-color: lightblue;
    margin: 1em;
}
.item3 {
    background-color: lightgrey;
    margin: 1em;
}
.item4 {
    background-color: lightyellow;
    margin: 1em;
}
.item5 {
    background-color: lightsalmon;
    margin: 1em;
}
.item6 {
    background-color: lightgreen;
    margin: 1em;
}